<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" routerLink="/">Start Bootstrap</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/services">Services</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-content mt-5 p-5">
    <router-outlet></router-outlet>
</div>

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright © 2020 - Start Bootstrap</div>
    </div>
</footer>